<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a ui-sref="app.studentProfile" class="btn btn-info btn-labeled">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">New</span>
        </a>
        <button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-hide="!isFilterOpen">
            <span class="btn-label">
                <i class="fa fa-filter"></i>
            </span><span class="hidden-480">Filter</span>
        </button>
    </div>
    <!-- END Language list    -->
    Students
    <small>Details</small>
</h3>

<div class="container-fluid" ng-hide="isFilterOpen">
    <div class="panel panel-default">
        <form class="panel-body" ng-submit="sc.fiterData(false)">
            <div class="col-md-3">
                <input type="text" placeholder="Name" ng-change="sc.fiterData(false)" class="form-control" ng-model="sc.Name" />
            </div>
            
            <!-- Dropdown List for rooms-->
            <div class="col-md-3">
                <!--<input type="email" placeholder="" class="form-control" ng-model="sc.GuardianPhone"/>-->
                <p class="input-group">
                    <input type="text" placeholder="Select Date of Birth" ng-focus="sc.open($event)"
                           name="DateOfBirth"
                           uib-datepicker-popup="{{sc.format}}"
                           ng-model="sc.dt"
                           ng-change="sc.fiterData(false)"
                           is-open="sc.opened"
                           uib-datepicker-options="sc.dateOptions"
                           close-text="Close"
                           class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="sc.open($event)" class="btn btn-default">
                            <em class="fa fa-calendar"></em>
                        </button>
                    </span>
                </p>
            </div>

                <button class="btn btn-success" type="submit">Filter</button>
                <button class="btn btn-default" ng-click="sc.fiterData(true)">Reset</button>
                <a class="pull-right"
                   uib-tooltip="{{'Hide filter'}}"
                   uib-tooltip-trigger="focus"
                   ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>
        </form>

    </div>
</div>

<div class="">
    <!-- Grid view to show listview with searching, sorting and pagination-->
    <!--<div ui-grid="sc.gridOptions" ui-grid-pagination class="table-uigrid"></div>-->

    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <!-- If serverside paging -->
            <div class="">
                <table datatable="" dt-options="sc.dtOptions" dt-columns="sc.dtColumns" dt-instance="sc.dtInstance" class="row-border table hover"></table>
            </div>
        </div>
    </div>
</div>
