<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button ng-click="cfcc.save(false)" ng-disabled="!cfcc.formValidate.$valid" type="button" class="btn btn-labeled btn-info" ng-if="cfcc.edit">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span><span class="hidden-480" ng-if="!cfcc.update">Save</span>
            <span class="hidden-480" ng-if="cfcc.update">Update</span>
        </button>
        <button class="btn btn-labeled btn-info" ng-if="cfcc.update" ng-click="cfcc.edit = !cfcc.edit" ng-hide="cfcc.edit">
            <span class="btn-label">
                <i class="fa fa-pencil"></i>
            </span><span class="hidden-480">Edit</span>
        </button>
        <button ng-click="cfcc.save(true)" ng-disabled="!cfcc.formValidate.$valid" ng-if="!cfcc.update" type="button" class="btn btn-labeled btn-green">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">Save and New</span>
        </button>
        <button class="btn btn-labeled btn-danger" ng-click="cfcc.cancelBtn()">
            <span class="btn-label">
                <i class="fa fa-times"></i>
            </span><span class="hidden-480">Cancel</span>
        </button>
    </div>
    <!-- END Language list    -->
    Filter Category
    <small>Add/Edit</small>
</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal form-validate" name="cfcc.formValidate" novalidate="">
            <div class="form-group">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': cfcc.validateInput(cfcc.formValidate.DisplayValue, 'required') }">
                                <label for="Name" class="control-label requiredLabel">Name</label>
                                <input id="Name" type="text" placeholder="Enter Name Here"
                                       ng-model="cfcc.FilterCategory.DisplayValue" name="Name"
                                       uib-tooltip="{{ cfcc.validateInput(cfcc.formValidate.DisplayValue, 'required') ? 'Name field is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required class="form-control"
                                       ng-disabled="!cfcc.edit"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>