<!--=== Header v5 ===-->
<div ng-include="'../../app/views/Shared/EcommerceHeader.html'"></div>

<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Refine By</h1>
            <div class="panel-group margin-top-20" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Categories
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12 checkbox c-checkbox needsclick" style="padding-left: 0" ng-if="isAuthenticated">
                                <label class="control-label needsclick">
                                    <input type="checkbox" ng-model="hc.Favorites" ng-click="hc.seeFavorites()" name="IsImportant" class="needsclick checkbox checkbox-inline"><span class="fa fa-heart" style="border-color: #18ba9b"></span>
                                </label><strong>Favorites</strong>
                                <hr class="margin-bottom0 margin-top15" />
                            </div>

                            <ul class="list-unstyled checkbox-list">
                                <li ng-repeat="category in hc.FilterCategories">
                                    <dl>
                                        <dt><strong><a data-toggle="collapse" data-parent="#collapseOne" href="#collapseTwo{{$index}}" ng-click="arrow = !arrow"><i ng-class="{'fa fa-angle-down':!arrow,'fa fa-angle-right':arrow}"></i> {{category.DisplayValue}}</a></strong></dt>
                                        <div id="collapseTwo{{$index}}" class="collapse in">
                                            <label class="checkbox" ng-repeat="filter in category.Filters">
                                                <dd class="margin-top4" style="display: inline">
                                                    <input type="checkbox" name="checkbox" id="{{filter.Id}}" ng-click="hc.clicked=!hc.clicked; hc.filterProjects(filter.Id)" ng-model="category$index" ng-change="" />
                                                    <i></i>
                                                    {{filter.DisplayValue}}
                                                </dd>
                                                <small><a>{{filter.SolutionCount}}</a></small>
                                            </label>
                                        </div>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end panel group-->
            <div class="panel-group margin-bottom-30" id="accordion-v6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                Rating
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="stars-ratings stars-ratings-label">
                                <input type="radio" name="stars-rating" id="stars-rating-main-5" ng-click="hc.searchOnRating('stars-rating-main-5')">
                                <label for="stars-rating-main-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-main-4" ng-click="hc.searchOnRating('stars-rating-main-4')">
                                <label for="stars-rating-main-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-main-3" ng-click="hc.searchOnRating('stars-rating-main-3')">
                                <label for="stars-rating-main-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-main-2" ng-click="hc.searchOnRating('stars-rating-main-2')">
                                <label for="stars-rating-main-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-main-1" ng-click="hc.searchOnRating('stars-rating-main-1')">
                                <label for="stars-rating-main-1"><i class="fa fa-star"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end panel group-->
            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block" ng-click="hc.resetAllFilters()">Reset</button>
        </div>

        <div class="col-md-9">
            <div class="row margin-bottom3">
                <div class="col-md-12 padding-leftright30">
                    <form ng-submit="hc.searchSolutions()">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="hc.searchString"
                                   uib-typeahead="solution as solution.DisplayName for solution in hc.getSolutions($viewValue)"
                                   typeahead-loading="loadingSolutions"
                                   typeahead-on-select="hc.searchSolutions()"
                                   typeahead-template-url="customTemplate.html"
                                   autocomplete="off">
                            <span class="input-group-btn" title="Search">
                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                            <span class="input-group-btn" title="Reset">
                                <button class="btn" type="button" ng-click="hc.resetdata()"><i class="fa fa-remove"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div><!--/end result category-->
            <br>

            <div class="filter-by-block col-md-12 padding-leftright30" ng-if="!hc.Projects.length">
                <h1>No solution matches your search!</h1>
            </div>

            <div class="col-md-4 col-sm-6 illustration-v2 repeated-item" ng-repeat="project in hc.Projects" style="height: 385px">
                <div ng-class="{'shadow-emboss' : project.isNew}">
                    <div class="product-img product-img-brd">
                        <a ng-href="{{project.Image? hc.apiUrl + project.Image : '/Ecommerce/img/blog/project.png'}}" data-title="{{project.Name}}" id="lightbox{{project.Id}}" ng-click="hc.showLightboxImage(project.Id)" data-type="image">
                            <div style="vertical-align: middle; display: table-cell; height: 249px;">
                                <img class="full-width img-responsive" ng-src="{{project.Image ? hc.apiUrl + project.Image: '/Ecommerce/img/blog/project.png' }}" alt="" style="height: auto; max-height: 244px; width: 100%">
                            </div>
                        </a>

                        <a class="product-review" target="_blank" ng-href="{{project.Location}}" uib-tooltip="{{project.Name.length > 25 ? project.Name:''}}" ng-click="hc.SaveClickActivity(project.Id)">{{project.Name | customLimitTo : 25}} </a>
                        <!--<a class="add-to-cart" target="_blank" ng-href="{{project.Location}}"><i class="fa fa-shopping-cart"></i></a>-->
                        <!--<a class="shop-rgba-dark-green rgba-banner" target="_blank" ng-href="{{project.Location}}">Live</a>-->
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left projectDivHeight">
                                <h6 class="title-price">
                                    <span uib-tooltip="{{project.Description.length > 50 ? project.Description:''}}" tooltip-placement="left">{{project.Description | customLimitTo : 50}}</span>
                                </h6>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star-o" id="avg-rating-1-{{project.Id}}"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star-o" id="avg-rating-2-{{project.Id}}"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star-o" id="avg-rating-3-{{project.Id}}"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star-o" id="avg-rating-4-{{project.Id}}"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star-o" id="avg-rating-5-{{project.Id}}"></i></li>

                            <li class="like-icon" ng-if="isAuthenticated">
                                <div ng-class="{'rating':!project.IsFavorite,'rating-selected':project.IsFavorite}" id="{{project.Id}}"
                                     ng-click="hc.saved =!hc.saved; hc.save(project.Id)">
                                    <i class="fa padding-right2" ng-class="{'fa-heart-o':!project.IsFavorite,'fa-heart':project.IsFavorite}"></i>
                                </div>
                            </li>
                            <li class="like-icon padding-right2"><a uib-tooltip="{{ 'Send to friend' }}" tooltip-placement="left" ng-click="hc.OpenSendToFriend(project.Location,project.Id)"><i class="fa fa-envelope-o padding-right3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/end filter results-->
            <div ng-if="hc.endOfSolutions && hc.Projects.length" class="filter-by-block col-md-12 padding-leftright30" style="text-align: center">
                <h4>End of results!</h4>

                <span>&copy; {{app.year}} - {{ app.name }}</span>
            </div>
        </div>
    </div>
</div>
<!-- Popup for send to friend -->
<div class="g-popup-wrapper" id="sendtofriend">
    <div class="g-popup g-popup--discount min-height-480 col-md-5">
        <!--<p class="margin-bottom-5">Enter your email</p>-->
        <h3>Share with your friend.</h3>
        <!--<p class="margin-bottom-40 font-size24">Share with your friend.</p>-->
        <form ng-submit="hc.SaveShareActivity()" class="sky-form">
            <label class="input margin-bottom-20">
                <input type="text" placeholder="Your name" ng-model="hc.username" class="form-control" ng-disabled="true">
            </label>
            <label class="input margin-bottom-20">
                <input type="text" placeholder="Subject" ng-model="hc.subject" class="form-control">
            </label>
            <label class="input margin-bottom-20">
                <input type="email" placeholder="Your Friend's email" ng-model="hc.FriendsEmail" class="form-control">
            </label>
            <div contenteditable="true" class="editable-div" ng-model="hc.EmailBody">
                <div contenteditable="false" class="display-inline">
                    <a target="_blank" href="{{hc.ProjectLocation}}">Here</a>
                </div> <span>is the link to Solution.</span>
            </div>
            <label class="input">
                <button class="btn btn-default" type="submit">Share</button>
            </label>
        </form>

        <a href="javascript:void(0);" class="g-popup__close g-popup--discount__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<!-- Popup for Project detail -->
<div class="g-popup-wrapper" id="projectdetail">
    <div class="g-popup g-popup--subscribe padding-bottom30 padding-top35" style="width: 75%">
        <h3>RECENT REVIEWS ({{hc.Project.Name}})</h3>
        <scrollable height="170">
            <div class="g-popup--subscribe-message margin-bottom110 red" ng-if="!hc.SolutionRatings.length">No Reviews found!</div>
            <div class="g-popup--subscribe-message margin-bottom110" ng-if="hc.SolutionRatings" ng-repeat="rating in hc.SolutionRatings | filter : {IsReply : false}">
                <!--<div class="col-md-1">
                    <img class="product-comment-img rounded-x" src="/Ecommerce/img/team/01.jpg" alt="" style="width: 40px">
                </div>-->
                <div class="product-comment-dtl col-md-12">
                    <h4>{{rating.Username}} <small>{{rating.reviewdate}}</small></h4>
                    <p>{{rating.Comments}}</p>
                    <ul class="list-inline product-ratings">

                        <li class="reply"><a data-toggle="collapse" href="#replyreview" ng-click="hc.getRatingId(rating.RatingId)">Reply</a></li>
                        <li class="pull-right margin-left3"><i class="rating-selected fa fa-star-o" id="rated-5-{{rating.RatingId}}"></i></li>
                        <li class="pull-right margin-left3"><i class="rating-selected fa fa-star-o" id="rated-4-{{rating.RatingId}}"></i></li>
                        <li class="pull-right margin-left3"><i class="rating-selected fa fa-star-o" id="rated-3-{{rating.RatingId}}"></i></li>
                        <li class="pull-right margin-left3"><i class="rating-selected fa fa-star-o" id="rated-2-{{rating.RatingId}}"></i></li>
                        <li class="pull-right margin-left3"><i class="rating-selected fa fa-star-o" id="rated-1-{{rating.RatingId}}"></i></li>

                    </ul>
                    <div ng-repeat="reply in rating.Replies">
                        <!--<div class="col-md-1">
                            <img class="product-comment-img rounded-x" src="/Ecommerce/img/team/01.jpg" alt="" style="width: 40px">
                        </div>-->
                        <div class="product-comment-dtl col-md-12">
                            <h4>{{reply.Username}} <!--<small>{{reply.reviewdate}}</small>--></h4>
                            <p>{{reply.Comments}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </scrollable>

        <div class="panel-group margin-top-20" id="addreviewpanel" ng-if="!hc.Project.IsRated">
            <div class="panel panel-default-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#addreviewpanel" href="#addreview" ng-click="angle = !angle">
                            Add a review
                            <i ng-class="{'fa fa-angle-down':!angle,'fa fa-angle-up':angle}"></i>
                        </a>
                    </h3>
                </div>
                <div id="addreview" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form ng-submit="hc.SaveSolutionRating(hc.Project.Id)" class="sky-form sky-changes-4" name="hc.formValidate">
                            <div class="row">
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="text" placeholder="Name" class="form-control" ng-model="hc.username" ng-disabled="hc.disableprojectdetail">
                                    </label>
                                </section>
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="email" placeholder="Email" class="form-control" ng-model="hc.email" ng-disabled="hc.disableprojectdetail">
                                    </label>
                                </section>
                                <section class="col-sm-12">
                                    <label class="textarea">
                                        <textarea placeholder="Message" rows="2" class="form-control" ng-model="hc.Comments"></textarea>
                                    </label>
                                </section>
                            </div>
                            <ul class="list-inline product-ratings">
                                <li class="reply">Review</li>
                                <li>
                                    <div class="stars-ratings stars-ratings-label"
                                         uib-tooltip="{{'Rating is Required'}}"
                                         uib-tooltip-trigger="focus"
                                         tooltip-class="tooltip-danger">
                                        <input type="radio" name="stars-rating" id="stars-rating-5" ng-required="true">
                                        <label for="stars-rating-5" class="custom-rating-label"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-4" ng-required="true">
                                        <label for="stars-rating-4" class="custom-rating-label"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-3" ng-required="true">
                                        <label for="stars-rating-3" class="custom-rating-label"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-2" ng-required="true">
                                        <label for="stars-rating-2" class="custom-rating-label"><i class="fa fa-star"></i></label>
                                        <input type="radio" name="stars-rating" id="stars-rating-1" ng-required="true">
                                        <label for="stars-rating-1" class="custom-rating-label"><i class="fa fa-star"></i></label>
                                    </div>
                                </li>
                                <li class="pull-right">
                                    <button type="submit" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group margin-top-20" id="replyreviewpanel" ng-if="hc.SolutionRatings.length && hc.showReply">
            <div class="panel panel-default-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span>
                            Reply
                            <!--<i ng-class="{'fa fa-angle-down':!reply,'fa fa-angle-up':reply}"></i>-->
                        </span>
                    </h3>
                </div>
                <div id="replyreview" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form ng-submit="hc.SaveSolutionRating(hc.Project.Id,true)" class="sky-form sky-changes-4">
                            <div class="row">
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="text" placeholder="Name" class="form-control" ng-model="hc.username" ng-disabled="hc.disableprojectdetail">
                                    </label>
                                </section>
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="email" placeholder="Email" class="form-control" ng-model="hc.email" ng-disabled="hc.disableprojectdetail">
                                    </label>
                                </section>
                                <section class="col-sm-12">
                                    <label class="textarea">
                                        <textarea placeholder="Message" rows="2" class="form-control" ng-model="hc.Comments"></textarea>
                                    </label>
                                </section>
                            </div>
                            <ul class="list-inline product-ratings">
                                <li class="pull-right">
                                    <button type="submit" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe2__close">
            <span class="icon-close" aria-hidden="true"></span>
        </a>
    </div>
</div>

<!-- Popup for login page -->
<div class="g-popup-wrapper" id="loginpage">
    <div class="g-popup g-popup--discount2">
        <div class="g-popup--discount2-message" ng-controller="LoginFormController as login">
            <h3>Welcome here</h3>
            <h4>You Are Fabulous!</h4>
            <p>Please login to continue!</p>
            <form ng-submit="login.login()" name="login.loginForm" novalidate="" class="sky-form" style="border: none !important">
                <label class="input">
                    <input type="email" placeholder="Email" class="form-control" name="account_email" autocomplete="off" ng-model="login.account.email" required="">
                </label>
                <label class="input">
                    <input type="password" placeholder="Password" class="form-control" autocomplete="off" name="account_password" ng-model="login.account.password" required="">
                </label>
                <label class="input pull-right">
                    <button class="btn btn-default" type="submit" ng-disabled="login.submitButton">Sign In</button>
                </label>
            </form>
        </div>
        <img src="/Ecommerce/img/blog/26.jpg" alt="ALT" width="270">
        <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<!-- custom template for typeahead -->
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <br />
        <small ng-bind-html="match.model.Subtitle | uibTypeaheadHighlight:query"></small>
    </a>
</script>