<!--=== Header v5 ===-->
<div ng-include="'../../app/views/EcommerceHeader.html'"></div>
<!--=== End Header v5 ===-->
<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Refine By</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Categories
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="list-unstyled checkbox-list">
                                <li ng-repeat="category in hc.FilterCategories">
                                    <label class="checkbox">
                                        <input type="checkbox" name="checkbox"/>
                                        <i></i>
                                        {{category.DisplayName}}
                                        <!--<small><a>{{hc.clicked?'':hc.Projects.length}}</a></small>-->
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <!--/end panel group-->
            <div class="panel-group margin-bottom-30" id="accordion-v6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                Rating
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="stars-ratings stars-ratings-label">
                                <input type="radio" name="stars-rating" id="stars-rating-5">
                                <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/end panel group-->
            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Reset</button>
        </div>

        <div class="col-md-9">
            <div class="row margin-bottom-5">
                <!--<div class="col-sm-4 result-category">
                    <h2>Projects</h2>
                    <small class="shop-bg-red badge-results">Total : {{hc.TotalProjects}}</small>
                </div>-->
                <div class="col-md-12 padding-leftright30">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Name, Tag and Tag group">
                        <span class="input-group-btn" title="Search Name, Tag or Tag group">
                            <button class="btn" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div><!--/end result category-->
            </div><!--/end result category-->
            <br>

            <div class="filter-by-block col-md-12 padding-leftright30" ng-if="!hc.Projects.length">
                <h1>No solution matches your search!</h1>
            </div>

            <div class="col-md-4 illustration-v2 repeated-item" ng-repeat="project in hc.Projects">
                <div ng-class="{'shadow-emboss' : project.isNew}">
                    <div class="product-img product-img-brd">
                        <a target="_blank" href="{{project.Location}}"><img class="full-width img-responsive" style="height: 252px" ng-src="{{project.Image ? project.Image: '/Ecommerce/img/blog/project.png' }}" alt=""></a>
                        <a class="product-review" ng-click="hc.OpenProjectDetail(project.Id)">{{project.Name}}</a>
                        <!--<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
                        <div class="shop-rgba-dark-green rgba-banner">New</div>
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left">
                                <h6 class="title-price">
                                    <span uib-tooltip="{{project.Description}}" tooltip-placement="left" tooltip-class="tooltip-multiline">{{project.Description | customLimitTo : 55}}</span>
                                </h6>
                                <!--<span class="gender text-uppercase">Men</span>
                                <span class="gender">Suits - Blazers</span>-->
                            </div>
                            <!--<div class="product-price">
                                <span class="title-price">$60.00</span>
                                <span class="title-price line-through">$95.00</span>
                            </div>-->
                        </div>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li class="like-icon"><a uib-tooltip="{{ 'Add to favourite' }}" tooltip-placement="left" href="#"><i class="fa fa-heart padding-right2"></i></a></li>
                            <li class="like-icon padding-right2"><a uib-tooltip="{{ 'Send to friend' }}" tooltip-placement="left" ng-click="hc.OpenGPopUp()"><i class="fa fa-envelope-o padding-right3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/end filter resilts-->
            <!--/end pagination-->
        </div>
    </div>
</div><!--/end row-->
<!--=== End Content Part ===-->
<!--=== Footer v4 ===-->
<!--<div ng-include="'../../app/views/EcommerceFooter.html'"></div>-->
<!--=== End Footer v4 ===-->
<!-- Wait Block -->
<div class="g-popup-wrapper" id="sendtofriend">
    <div class="g-popup g-popup--subscribe3">
        <h3>Send to your friend</h3>
        <p>Join our mailing list to receive the latest news &amp;&nbsp;updates from our team.</p>
        <form action="#" class="sky-form">
            <label class="input margin-bottom-20">
                <input type="email" placeholder="Email" class="form-control">
            </label>
            <label class="input">
                <button class="btn btn-default" type="button">Send</button>
            </label>
        </form>
        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe3__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<div class="g-popup-wrapper" id="projectdetail">
    <div class="g-popup g-popup--subscribe" style="width: 75%">
        <h3>RECENT REVIEWS ({{hc.Project.Name}})</h3>
        <scrollable height="150">
            <div class="g-popup--subscribe-message margin-bottom110">
                <div class="col-md-1">
                    <img class="product-comment-img rounded-x" src="/Ecommerce/img/team/01.jpg" alt="" style="width: 40px">
                </div>
                <div class="product-comment-dtl col-md-11">
                    <h4>Mickel <small>22 days ago</small></h4>
                    <p>I like the green colour, it's very likeable and reminds me of Hollister. A little loose though but I am very skinny</p>
                    <ul class="list-inline product-ratings">
                        <li class="reply"><a href="#">Reply</a></li>
                        <li class="pull-right">
                            <ul class="list-inline">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="g-popup--subscribe-message margin-bottom110">
                <div class="col-md-1">
                    <img class="product-comment-img rounded-x" src="/Ecommerce/img/team/01.jpg" alt="" style="width: 40px">
                </div>
                <div class="product-comment-dtl col-md-11">
                    <h4>johnson <small>1 days ago</small></h4>
                    <p>I like the green colour, it's very likeable and reminds me of Hollister. A little loose though but I am very skinny</p>
                    <ul class="list-inline product-ratings">
                        <li class="reply"><a href="#">Reply</a></li>
                        <li class="pull-right">
                            <ul class="list-inline">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </scrollable>
        <div class="panel-group margin-top-20" id="myaccordion">
            <div class="panel panel-default-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#myaccordion" href="#addreview" ng-click="angle = !angle">
                            Add a review
                            <i ng-class="{'fa fa-angle-down':!angle,'fa fa-angle-up':angle}"></i>
                        </a>
                    </h3>
                </div>
                <div id="addreview" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form action="#" class="sky-form sky-changes-4">
                            <div class="row">
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="text" placeholder="Name" class="form-control">
                                    </label>
                                </section>
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="email" placeholder="Email" class="form-control">
                                    </label>
                                </section>
                                <section class="col-sm-12">
                                    <label class="textarea">
                                        <textarea placeholder="Message" rows="3" class="form-control"></textarea>
                                    </label>
                                </section>
                            </div>
                            <ul class="list-inline product-ratings">
                                <li class="reply">Review</li>
                                <li>
                                    <ul class="list-inline">
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating fa fa-star"></i></li>
                                        <li><i class="rating fa fa-star"></i></li>
                                    </ul>
                                </li>
                                <li class="pull-right"><button type="button" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<div class="g-popup-wrapper" id="loginpage">
    <div class="g-popup g-popup--subscribe text-center">
        <h2>Get Fresh Content</h2>
        <form action="#" class="sky-form">
            <div class="row">
                <section class="col-sm-9">
                    <label class="input">
                        <input type="email" placeholder="Enter email" class="form-control">
                    </label>
                </section>
                <section class="col-sm-3">
                    <label class="input">
                        <button class="btn-u btn-u-default" type="button">Get Updates</button>
                    </label>
                </section>
            </div>
        </form>
        <div class="no-spam">
            <span class="icon-lock" aria-hidden="true"></span> We hate SPAM and promise to keep your email address safe.
        </div>

        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>
<!-- End Wait Block -->
