<!--=== Header v5 ===-->
<div ng-include="'../../app/views/EcommerceHeader.html'"></div>
<!--=== End Header v5 ===-->
<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-3 filter-by-block md-margin-bottom-60">
            <h1>Refine By</h1>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Categories
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-md-12 checkbox c-checkbox needsclick" style="padding-left: 0">
                                <label class="control-label needsclick">
                                    <input type="checkbox" ng-model="hc.Favorites" ng-click="hc.seeFavorites()" name="IsImportant" class="needsclick checkbox checkbox-inline"><span class="fa fa-heart" style="border-color: #18ba9b"></span>
                                </label><strong>Favorites</strong>
                            </div>
                            <hr/>
                            <ul class="list-unstyled checkbox-list">
                                <li ng-repeat="category in hc.FilterCategories">
                                    <dl>
                                        <dt><strong><a data-toggle="collapse" data-parent="#collapseOne" href="#collapseTwo{{$index}}" ng-click="arrow = !arrow"><i ng-class="{'fa fa-angle-down':!arrow,'fa fa-angle-right':arrow}"></i> {{category.DisplayValue}}</a></strong></dt>
                                        <div id="collapseTwo{{$index}}" class="collapse in">
                                            <label class="checkbox" ng-repeat="filter in category.Filters">
                                                <dd class="margin-top4" style="display: inline">
                                                    <input type="checkbox" name="checkbox" id="{{filter.Id}}" ng-click="hc.clicked=!hc.clicked; hc.filterProjects(filter.Id)" ng-model="category$index" ng-change=""/>
                                                    <i></i>
                                                    {{filter.DisplayValue}}
                                                </dd>
                                                <small><a>{{filter.SolutionCount}}</a></small>
                                            </label>
                                        </div>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end panel group-->
            <!--/end panel group-->
            <div class="panel-group margin-bottom-30" id="accordion-v6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                Rating
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="stars-ratings stars-ratings-label">
                                <input type="radio" name="stars-rating" id="stars-rating-5">
                                <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end panel group-->
            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block" ng-click="hc.resetCategories()">Reset</button>
        </div>

        <div class="col-md-9">
            <div class="row margin-bottom-5">
                <!--<div class="col-sm-4 result-category">
                    <h2>Projects</h2>
                    <small class="shop-bg-red badge-results">Total : {{hc.TotalProjects}}</small>
                </div>-->
                <div class="col-md-12 padding-leftright30">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="hc.searchString"
                               uib-typeahead="solution as solution.DisplayName for solution in hc.getSolutions($viewValue)"
                               typeahead-loading="loadingSolutions"
                               typeahead-on-select="hc.searchSolutions()"
                               typeahead-template-url="customTemplate.html"
                               autocomplete="off">
                        <span class="input-group-btn" title="Search">
                            <button class="btn" type="button" ng-click="hc.getDataFromSever()"><i class="fa fa-search"></i></button>
                        </span>
                        <span class="input-group-btn" title="Reset">
                            <button class="btn" type="button" ng-click="hc.resetdata()"><i class="fa fa-remove"></i></button>
                        </span>
                    </div>
                </div>
            </div><!--/end result category-->
            <br>

            <div class="filter-by-block col-md-12 padding-leftright30" ng-if="!hc.Projects.length">
                <h1>No solution matches your search!</h1>
            </div>

            <div class="col-md-4 illustration-v2 repeated-item" ng-repeat="project in hc.Projects" style="height: 385px">
                <div ng-class="{'shadow-emboss' : project.isNew}">
                    <div class="product-img product-img-brd">

                        <a ng-href="{{project.Image? hc.apiUrl + project.Image : '/Ecommerce/img/blog/project.png'}}" data-title="{{project.Name}}" data-toggle="lightbox">
                            <div style="vertical-align: middle; display: table-cell; height: 249px;">
                                <img class="full-width img-responsive" ng-src="{{project.Image ? hc.apiUrl + project.Image: '/Ecommerce/img/blog/project.png' }}" alt="" style="height: auto; max-height: 244px; width: 100%">
                            </div>
                        </a>


                        <a class="product-review" target="_blank" ng-href="{{project.Location}}">{{project.Name}}</a>
                        <!--<a class="add-to-cart" target="_blank" ng-href="{{project.Location}}"><i class="fa fa-shopping-cart"></i></a>-->
                        <!--<a class="shop-rgba-dark-green rgba-banner" target="_blank" ng-href="{{project.Location}}">Live</a>-->
                    </div>
                    <div class="product-description product-description-brd margin-bottom-30">
                        <div class="overflow-h margin-bottom-5">
                            <div class="pull-left projectDivHeight">
                                <h6 class="title-price">
                                    <span uib-tooltip="{{project.Description.length > 50 ? project.Description:''}}" tooltip-placement="left">{{project.Description | customLimitTo : 50}}</span>
                                </h6>
                            </div>
                        </div>
                        <ul class="list-inline product-ratings">
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating-selected fa fa-star"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating fa fa-star"></i></li>
                            <li ng-click="hc.OpenProjectDetail(project.Id)"><i class="rating fa fa-star"></i></li>


                            <li class="like-icon" ng-if="isAuthenticated">
                                <div ng-class="{'rating':!project.IsFavorite,'rating-selected':project.IsFavorite}" id="{{project.Id}}"
                                     ng-click="hc.saved =!hc.saved; hc.save(project.Id)">
                                    <i class="fa padding-right2" ng-class="{'fa-heart-o':!project.IsFavorite,'fa-heart':project.IsFavorite}"></i>
                                </div>
                            </li>
                            <li class="like-icon padding-right2"><a uib-tooltip="{{ 'Send to friend' }}" tooltip-placement="left" ng-click="hc.OpenGPopUp()"><i class="fa fa-envelope-o padding-right3"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/end filter results-->
            <div ng-if="!hc.clientSpinnerOnScroll && hc.endOfSolutions && hc.Projects.length" class="filter-by-block col-md-12 padding-leftright30" style="text-align: center">
                <h4>End of results!</h4>
            </div>
        </div>
        <div ng-if="hc.clientSpinnerOnScroll && !hc.NoMoreProjects" style="text-align: center; position: fixed; top: 80%; left: 57%; z-index: 10051">
            <img src="/app/img/preloader/spinner.gif"/>
        </div>

    </div>
</div>
<!--=== End Content Part ===-->

<!-- Popup for send to freind -->
<div class="g-popup-wrapper" id="sendtofriend">
    <div class="g-popup g-popup--subscribe3">
        <h3>Send to your friend</h3>
        <p>Join our mailing list to receive the latest news &amp;&nbsp;updates from our team.</p>
        <form action="#" class="sky-form">
            <label class="input margin-bottom-20">
                <input type="email" placeholder="Email" class="form-control">
            </label>
            <label class="input">
                <button class="btn btn-default" type="button">Send</button>
            </label>
        </form>
        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe3__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<!-- Popup for Project detail -->
<div class="g-popup-wrapper" id="projectdetail">
    <div class="g-popup g-popup--subscribe" style="width: 75%">
        <h3>RECENT REVIEWS ({{hc.Project.Name}})</h3>
        <scrollable height="150">
            <div class="g-popup--subscribe-message margin-bottom110">
                <div class="col-md-1">
                    <img class="product-comment-img rounded-x" src="/Ecommerce/img/team/01.jpg" alt="" style="width: 40px">
                </div>
                <div class="product-comment-dtl col-md-11">
                    <h4>Mickel <small>22 days ago</small></h4>
                    <p>I like the green colour, it's very likeable and reminds me of Hollister. A little loose though but I am very skinny</p>
                    <ul class="list-inline product-ratings">
                        <li class="reply"><a href="#">Reply</a></li>
                        <li class="pull-right">
                            <ul class="list-inline">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="g-popup--subscribe-message margin-bottom110">
                <div class="col-md-1">
                    <img class="product-comment-img rounded-x" src="/Ecommerce/img/team/01.jpg" alt="" style="width: 40px">
                </div>
                <div class="product-comment-dtl col-md-11">
                    <h4>johnson <small>1 days ago</small></h4>
                    <p>I like the green colour, it's very likeable and reminds me of Hollister. A little loose though but I am very skinny</p>
                    <ul class="list-inline product-ratings">
                        <li class="reply"><a href="#">Reply</a></li>
                        <li class="pull-right">
                            <ul class="list-inline">
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating-selected fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                                <li><i class="rating fa fa-star"></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </scrollable>
        <div class="panel-group margin-top-20" id="myaccordion">
            <div class="panel panel-default-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#myaccordion" href="#addreview" ng-click="angle = !angle">
                            Add a review
                            <i ng-class="{'fa fa-angle-down':!angle,'fa fa-angle-up':angle}"></i>
                        </a>
                    </h3>
                </div>
                <div id="addreview" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form action="#" class="sky-form sky-changes-4">
                            <div class="row">
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="text" placeholder="Name" class="form-control">
                                    </label>
                                </section>
                                <section class="col-sm-6">
                                    <label class="input">
                                        <input type="email" placeholder="Email" class="form-control">
                                    </label>
                                </section>
                                <section class="col-sm-12">
                                    <label class="textarea">
                                        <textarea placeholder="Message" rows="3" class="form-control"></textarea>
                                    </label>
                                </section>
                            </div>
                            <ul class="list-inline product-ratings">
                                <li class="reply">Review</li>
                                <li>
                                    <ul class="list-inline">
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating-selected fa fa-star"></i></li>
                                        <li><i class="rating fa fa-star"></i></li>
                                        <li><i class="rating fa fa-star"></i></li>
                                    </ul>
                                </li>
                                <li class="pull-right"><button type="button" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="g-popup__close g-popup--subscribe2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<!-- Popup for login page -->
<div class="g-popup-wrapper" id="loginpage">
    <div class="g-popup g-popup--discount2">
        <div class="g-popup--discount2-message" ng-controller="LoginFormController as login">
            <h3>Welcome here</h3>
            <h4>You Are Fabulous!</h4>
            <p>Please login to continue!</p>
            <form ng-submit="login.login()" name="login.loginForm" novalidate="" class="sky-form" style="border: none !important">
                <label class="input">
                    <input type="email" placeholder="Email" class="form-control" name="account_email" autocomplete="off" ng-model="login.account.email" required="">
                </label>
                <label class="input">
                    <input type="password" placeholder="Password" class="form-control" autocomplete="off" name="account_password" ng-model="login.account.password" required="">
                </label>
                <label class="input pull-right">
                    <button class="btn btn-default" type="submit" ng-disabled="login.submitButton">Sign In</button>
                </label>
            </form>
        </div>
        <img src="/Ecommerce/img/blog/26.jpg" alt="ALT" width="270">
        <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<!-- custom template for typeahead -->
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <br />
        <small ng-bind-html="match.model.Subtitle | uibTypeaheadHighlight:query"></small>
    </a>
</script>