<div class="header-v5 header-static">
    <!-- Topbar v3 -->
    <div class="topbar-v3 height-55">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-5">
                    <!-- Topbar Navigation -->
                    <ul class="left-topbar">
                        <li>
                            <a><img src="/app/img/gocentralized-logo.png" style="height: 40px" /></a>
                        </li>
                    </ul><!--/end left-topbar-->
                </div>
                <div class="col-sm-6 col-xs-7">
                    <ul class="list-inline right-topbar pull-right padding-top-10">
                        <li ng-if="!isAuthenticated"><a ng-click="hc.OpenLoginPage()">Log in</a> <!--| <a href="shop-ui-register.html">Register</a>--></li>
                        <li ng-if="isAuthenticated" class="hidden-480"><span>Welcome {{userName}}!</span></li>
                        <li ng-if="isAuthenticated"><a ng-click="hc.signOut()">Sign out</a></li>
                        <!--<li><a><span class="fa fa-envelope"></span></a></li>-->
                        <li ng-if="CurrentUserRole !=='User'"><a ui-sref="app.Solution"><span class="glyphicon glyphicon-align-justify"></span></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/container-->
    </div>
    <!-- End Topbar v3 -->
</div>