<!DOCTYPE html>
<html>
<head>
    <!-- Website Title-->
    <title>Aversion - Meal Planner</title>
    <!-- Website Description-->
    <meta name="description" content="We specialize in web and mobile application development for Cloud and Cloud Migration.
          We will help you deploy your web products to Microsoft Azure and EC2.">
    <!-- KeyWords-->
    <meta name="keywords" content="InnoSTARK,Software House">
    <link rel="icon" type="image/icon" href="/frontend2/pic/logo.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="/frontend2/css/reset.css" rel="stylesheet" />
    <link href="/frontend2/css/bootstrap.css" rel="stylesheet" />
    <link href="/frontend2/css/font-awesome.css" rel="stylesheet" />
    <link href="/frontend2/css/owl.carousel.css" rel="stylesheet" />
    <link href="/frontend2/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="/frontend2/css/main.css" rel="stylesheet" />
    <link href="/frontend2/css/indent.css" rel="stylesheet" />
    <link href="/frontend2/css/styleIST.css" rel="stylesheet" />
    <link href="/frontend2/css/sideLogo.css" rel="stylesheet" />
    <link href="/frontend2/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="/frontend2/fonts/fi/flaticon.css">
    <link rel="stylesheet" href="/frontend2/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/frontend2/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/frontend2/rs-plugin/css/navigation.css">
</head>
<body>
    <!-- header page-->
    <header>
        <!-- Navigation panel-->
        <nav class="main-nav stick-fixed transparent">
            <div class="clearfix container">
                <div class="nav-logo-wrap  animated1 infinite pulse">
                    <a href="javascript:;" onclick="location.href = '#/account/login'" ng-if="!isAuthenticated" class="logo">
                        <img src="/app/img/preloader/preloader.empty.png" data-at2x="/frontend2/img/preloader.empty.png" alt="InnoSTARK" style="width: 70px !important; margin-top: -95px; position: fixed; max-width: none !important" />
                        <img src="/app/img/preloader/preloader.empty.png" data-at2x="/frontend2/img/preloader.empty.png" alt="InnoSTARK" class="sticky-logo" style="width: 80px !important; margin-top: -70px; position: fixed; max-width: none !important" />
                    </a>
                    <a href="javascript:;" onclick="location.href = '#/Aversion/dashboard'" ng-if="isAuthenticated" class="logo">
                        <img src="/app/img/preloader/preloader.empty.png" data-at2x="/frontend2/img/preloader.empty.png" alt="InnoSTARK" style="width: 70px !important; margin-top: -95px; position: fixed; max-width: none !important" />
                        <img src="/app/img/preloader/preloader.empty.png" data-at2x="/frontend2/img/preloader.empty.png" alt="InnoSTARK" class="sticky-logo" style="width: 80px !important; margin-top: -70px; position: fixed; max-width: none !important" />
                    </a>
                </div>
                <div class="inner-nav desktop-nav switch-menu">
                    <ul class="clearlist">
                        <li>
                            <a href="javascript:;" onclick="location.href = '#/account/login'" ng-if="!isAuthenticated" class="afont">
                                <strong>Sign in</strong>
                            </a>
                            <a href="javascript:;" onclick="location.href = '#/Aversion/dashboard'" ng-if="isAuthenticated" class="afont" style="cursor: pointer"><span>Welcome {{userName}} !</span></a>
                        </li>
                    </ul>
                    <a href="#" class="menu-bar"><span class="ham"></span></a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <div class="row_bg">
            <!-- bg video-->
            <div data-video-source="4GC0jGODGeY" data-video-id="video-559a112d1873b" data-img-url="pic/video-pic+.jpg" class="row_bg_video cws_Yt_video_bg">
                <div id="video-559a112d1873b"></div>
            </div>
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <li data-masterspeed="700" data-slotamount="7" data-transition="fade">
                            <img src="/frontend2/pic/slider/slider-5.jpg" data-bgposition="top center" data-lazyload="/frontend2/pic/slider/slider-5.jpg" alt="" data-bgparallax="10">
                            <div data-x="['left','center','center','center']" data-hoffset="0" data-y="center" data-voffset="0%" data-width="['1170px','700px','500px','300px']" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="400" class="tp-caption sl-content text-center">
                                <img src="/app/img/preloader/preloader.empty.png" data-at2x="/frontend2/img/preloader.empty.png" alt="" />
                                <div class="sl-title text-white">AversionTech</div>
                                <p class="text-white">The Best software for your child.</p>
                                <a href="javascript:;" onclick="location.href = '#/account/login'" ng-if="!isAuthenticated" class="cws-button white cws-button white4 animated infinite pulse" style="color: white"><i class="fa fa-sign-in fa-lg"></i> Sign In</a>
                            </div>
                        </li>
                        <li data-masterspeed="700" data-transition="fade">
                            <img class="animated infinite pulse" src="/frontend2/pic/slider/slider-6.jpg" data-lazyload="/frontend2/pic/slider/slider-6.jpg" data-bgposition="center 25%" alt="" data-bgparallax="10">
                            <div data-x="['left','center','center','center']" data-hoffset="0" data-y="center" data-voffset="0%" data-width="['1170px','700px','500px','300px']" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="400" class="tp-caption sl-content text-center">
                                <!--<img src="/frontend2/img/mobile.png" class="animated infinite pulse" width="207" height="208" data-position="265,40" data-in="fade" data-delay="700" data-step="1" data-ease-in="easeOutCirc"
                                         style="position: relative;top:3%;right:14%;">
                                <img class="animated infinite pulse" src="/frontend2/img/website.png" data-at2x="/frontend2/img/website.png" alt="innostark">
                                <img src="/frontend2/img/crm.png" class="animated infinite pulse" width="241" height="241" data-position="40,420" data-in="fade" data-delay="500" data-step="1" data-ease-in="easeOutCirc"
                                     style="position:relative;top:3%;left:14%;">-->
                                <div class="sl-title text-white">Our Services</div>
                                <p class="text-white">We provide all the services, required for your child, best ones are the following, but not limited to.</p>
                                <a class="cws-button white cws-button white1" style="color: white"><i class="fa fa-clock-o fa-lg"></i> Meals Schedule</a>
                                <a class="cws-button white cws-button white2" style="color: white"><i class="icon-badge fa-lg"></i> Proper Attendance system</a>
                                <a class="cws-button white cws-button white3" style="color: white"><i class="fa fa-spoon fa-lg"></i> Ingredients for meals</a>
                            </div>
                        </li>
                        <!--<li data-masterspeed="700" data-transition="fade">
                            <img src="/frontend2/pic/slider/slider-5.jpg" data-lazyload="/frontend2/pic/slider/slider-5.jpg" alt="" data-bgposition="center 50%" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10">
                            <div data-x="['left','center','center','center']" data-hoffset="0" data-y="center" data-voffset="0%" data-width="['1170px','700px','500px','300px']" data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-start="400" class="tp-caption sl-content text-center">
                                <img src="/app/img/preloader/preloader.empty.png" data-at2x="/app/img/preloader.empty.png" alt="innostark"/>
                                <marquee>
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cup.png" data-at2x="/frontend2/img/marquee/cup.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cCares.png" data-at2x="/frontend2/img/marquee/cCares.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cicwis.png" data-at2x="/frontend2/img/marquee/cicwis.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cyc.png" data-at2x="/frontend2/img/marquee/cyc.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/clegrandCRM.png" data-at2x="/frontend2/img/marquee/clegrandCRM.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cmpc.png" data-at2x="/frontend2/img/marquee/cmpc.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cTPRS.png" data-at2x="/frontend2/img/marquee/cTPRS.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cwp.png" data-at2x="/frontend2/img/marquee/cwp.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cCares.png" data-at2x="/frontend2/img/marquee/cCares.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cicwis.png" data-at2x="/frontend2/img/marquee/cicwis.png" alt="innostark project">
                                    <img style="margin-right: 55px;opacity: .5;" src="/frontend2/img/marquee/cyc.png" data-at2x="/frontend2/img/marquee/cyc.png" alt="innostark project">
                                </marquee>
                                <div class="sl-title text-white ">AversionTech</div>
                                <p class="text-white">The Best software for your child.</p>
                                <a href="javascript:;" onclick="location.href = '#/account/login'" ng-if="!isAuthenticated" class="cws-button white cws-button white4 animated infinite pulse"><i class="fa fa-sign-in fa-lg"></i> Sign In</a>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/frontend2/Scripts/jquery-1.10.2.js"></script>
    <script src="/frontend2/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="/frontend2/Scripts/jquery.validate.js"></script>
    <script src="/frontend2/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/frontend2/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--<script src="/frontend2/Scripts/modernizr-2.6.2.js"></script>-->
    <!--<script src="https://www.youtube.com/player_api"></script>-->
    <script src="/frontend2/js/jquery-ui.min.js"></script>
    <script src="/frontend2/js/bootstrap.js"></script>
    <script src="/frontend2/js/owl.carousel.js"></script>
    <script src="/frontend2/js/jquery.sticky.js"></script>
    <script src="/frontend2/js/cws_parallax.js"></script>
    <script src="/frontend2/js/jquery.fancybox.pack.js"></script>
    <script src="/frontend2/js/jquery.fancybox-media.js"></script>
    <script src="/frontend2/js/jquery.isotope.min.js"></script>
    <script src="/frontend2/js/jquery.form.min.js"></script>
    <script src="/frontend2/js/script.js"></script>
    <script src="/frontend2/js/retina.min.js"></script>
    <script src="/frontend2/js/jquery.tweet.js"></script>
    <script src="/frontend2/js/bg-video/cws_self_vimeo_bg.js"></script>
    <!--<script src="/frontend2/js/bg-video/cws_YT_bg.js"></script>-->
    <script src="/frontend2/js/bg-video/jquery.vimeo.api.min.js"></script>
    <!--<script src="/frontend2/js/chat/chat.js"></script>-->
    <!--<script src="/frontend2/js/functions/toastr.js"></script>-->
    <script src="/frontend2/js/functions/ValidateFields.js"></script>
    <script src="/frontend2/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/frontend2/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/frontend2/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/frontend2/js/jquery.form.min.js"></script>

    <!--<div class="wrapper">
        <div id="side">
            <div class="sugar-logo"> <img class="sideicon" src="/frontend2/img/mcp.png"> <img class="sideicon" src="/frontend2/img/cr.png"> </div>
        </div>
    </div>-->
</body>
</html>