<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button ng-click="csc.save(false)" ng-disabled="!csc.formValidate.$valid" type="button" class="btn btn-labeled btn-success" ng-if="csc.edit">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span><span class="hidden-480" ng-if="!csc.update">Save</span>
            <span class="hidden-480" ng-if="csc.update">Update</span>
        </button>
        <button class="btn btn-labeled bg-info-light" ng-if="csc.update" ng-click="csc.edit = !csc.edit" ng-hide="csc.edit">
            <span class="btn-label">
                <i class="fa fa-pencil"></i>
            </span><span class="hidden-480">Edit</span>
        </button>
        <button ng-click="csc.save(true)" ng-disabled="!csc.formValidate.$valid" ng-if="!csc.update" type="button" class="btn btn-labeled btn-info">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">Save and New</span>
        </button>
        <button class="btn btn-labeled btn-danger" ng-click="csc.cancelBtn()">
            <span class="btn-label">
                <i class="fa fa-times"></i>
            </span><span class="hidden-480">Cancel</span>
        </button>
    </div>
    <!-- END Language list    -->
    Solution
    <small>Add/Edit</small>
</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal form-validate" name="csc.formValidate" novalidate="" id="solutionForm">
            <div class="form-group">
                <fieldset ng-disabled="!csc.edit">
                    <div class="row">
                        <div class="col-md-12">
                            <aside class="col-md-3 col-xs-4">
                                <img class="img-responsive img-thumbnail SolutionImage" ng-src="{{csc.Image?csc.Image:'/app/img/image-default.png'}}" />
                            </aside>
                            <label class="control-label col-md-9" style="text-align: left">Solution Image</label>
                            <div class="col-md-4 col-xs-8">
                                <input filestyle="" type="file" data-button-text="Select Image" data-class-button="btn btn-success"
                                       file-model="csc.Image"
                                       data-classinput="form-control inline" nv-file-select=""
                                       class="form-control"
                                       id="loadFile"
                                       accept="image/*"
                                       onchange="angular.element(this).scope().readFile(this)"/>
                                <button style="margin-top: 4px" class="btn btn-labeled btn-danger" ng-click="csc.ResetImage()">
                                    <span class="btn-label">
                                        <i class="icon-trash"></i>
                                    </span><span class="hidden-480">Remove</span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.Name, 'required') }">
                                <label for="Name" class="control-label requiredLabel">Name</label>
                                <input id="Name" type="text" placeholder="Enter Name Here"
                                       ng-model="csc.Solution.Name" name="Name"
                                       uib-tooltip="{{ csc.validateInput(csc.formValidate.Name, 'required') ? 'Name is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       uib-tooltip-placement="bottom"
                                       required class="form-control"
                                       maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.SecurityInfo, 'required') }">
                                <label for="SecurityInfo" class="control-label">Security Information</label>
                                <input id="SecurityInfo" type="text" placeholder="Enter Security Info Here"
                                       ng-model="csc.Solution.SecurityInfo" name="Name"
                                       uib-tooltip="{{ csc.validateInput(csc.formValidate.SecurityInfo, 'required') ? 'Security Info is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       uib-tooltip-placement="bottom"
                                       class="form-control"
                                       maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.MaintentanceHours, 'required') }">
                                <label for="MaintentanceHours" class="control-label">Maintentance Hours</label>
                                <input id="MaintentanceHours" type="number" placeholder="Enter Maintentance Hours Here"
                                       ng-model="csc.Solution.MaintentanceHours" name="MaintentanceHours"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.Location, 'required') }">
                                <label for="Location" class="control-label requiredLabel">Location</label>
                                <input id="Location" type="url" placeholder="Enter Location Here i.e. https://www.example.com"
                                       ng-model="csc.Solution.Location" name="Location"
                                       class="form-control"
                                       maxlength="100">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 controls" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.SolutionOwners, 'required') }">
                                <label for="SolutionOwners" class="control-label requiredLabel">Solution Owner</label>
                                <ui-select required="" name="SolutionOwners" id="SolutionOwners" ng-model="csc.SolutionOwners.selected"
                                           theme="bootstrap"
                                           uib-tooltip="{{ csc.validateInput(csc.formValidate.SolutionOwners, 'required') ? 'Solution Owner is required.' : '' }}"
                                           uib-tooltip-trigger="focus"
                                           tooltip-class="tooltip-danger">
                                    <ui-select-match placeholder="Select a Solution Owner">
                                        {{$select.selected.DisplayName}}
                                        <span class="resetDdl" ng-click="csc.clearSolutionOwners($event)" ng-if="csc.edit">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="obj in csc.SolutionOwners | propsFilter: {DisplayName: $select.search}" class="animated fadeInDown">
                                        <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 controls" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.SolutionTypes, 'required') }">
                                <label for="SolutionTypes" class="control-label requiredLabel">Solution Type</label>
                                <ui-select required="" name="SolutionTypes" id="SolutionTypes"
                                           uib-tooltip="{{ csc.validateInput(csc.formValidate.SolutionTypes, 'required') ? 'Solution Type is required.' : '' }}"
                                           uib-tooltip-trigger="focus"
                                           tooltip-class="tooltip-danger"
                                           ng-model="csc.SolutionTypes.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select a Solution Type">
                                        {{$select.selected.DisplayName}}
                                        <span class="resetDdl" ng-click="csc.clearSolutionTypes($event)" ng-if="csc.edit">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="obj in csc.SolutionTypes | propsFilter: {DisplayName: $select.search}" class="animated fadeInDown">
                                        <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 controls" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.Tags, 'required') }">
                                <label for="Tags" class="control-label requiredLabel">Tag(s)</label>
                                <ui-select required="required" multiple="" ng-model="csc.multiple.Tags" theme="bootstrap" style="padding-left: 16px"
                                           id="Tags"
                                           name="Tags"
                                           uib-tooltip="{{ csc.validateInput(csc.formValidate.Tags, 'required') ? 'Tags are required.' : '' }}"
                                           uib-tooltip-trigger="focus"
                                           tooltip-class="tooltip-danger">
                                    <ui-select-match placeholder="Select Tag(s)">{{$item.DisplayValue}}</ui-select-match>
                                    <ui-select-choices group-by="'TagGroupName'" repeat="obj in csc.Tags | propsFilter: {DisplayValue: $select.search}"
                                                       class="animated fadeInDown">
                                        <div ng-bind-html="obj.DisplayValue | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 controls" ng-class="{ 'has-error': csc.validateInput(csc.formValidate.Filters, 'required') }">
                                <label for="Filters" class="control-label requiredLabel">Filter(s)</label>
                                <ui-select required="Filters" multiple="" style="padding-left: 16px" ng-model="csc.multiple.Filters" theme="bootstrap"
                                           id="Filters"
                                           name="Filters"
                                           uib-tooltip="{{ csc.validateInput(csc.formValidate.Filters, 'required') ? 'Filters are required.' : '' }}"
                                           uib-tooltip-trigger="focus"
                                           tooltip-class="tooltip-danger">
                                    <ui-select-match placeholder="Select Filter(s)">
                                        {{$item.DisplayValue}}
                                    </ui-select-match>
                                    <ui-select-choices group-by="'FilterCategoryName'" repeat="obj in csc.Filters | propsFilter: {DisplayValue: $select.search}" 
                                                       class="animated fadeInDown">
                                        <div ng-bind-html="obj.DisplayValue | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <label for="Description" class="control-label requiredLabel">Description</label>
                                <textarea id="Description" placeholder="Enter Description here" required=""
                                          ng-model="csc.Solution.Description" name="Description"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12 checkbox c-checkbox needsclick">
                                <label for="Active" class="control-label needsclick">

                                    <input id="Active" type="checkbox"
                                           ng-model="csc.Solution.Active" name="Active"
                                           class="needsclick checkbox checkbox-inline"
                                           ng-disabled="!csc.edit"><span class="fa fa-check"></span><strong>Active?</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>