<h3>
    <div class="pull-right">
        <button class="btn btn-info btn-labeled" type="submit" form="resetPassword" ng-disabled="!cpc.changePasswordForm.$valid">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Update
        </button>
        <button class="btn btn-labeled btn-danger" ng-click="cpc.cancelBtn()">
            <span class="btn-label">
                <i class="fa fa-times"></i>
            </span><span class="hidden-480">Cancel</span>
        </button>
    </div>
    Change Password
    <!--<small>Add/Edit</small>-->
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal form-validate" name="cpc.changePasswordForm" novalidate="" ng-submit="cpc.resetPassword()" id="resetPassword">
                    <div class="col-md-12">
                        <div class="form-group has-feedback" ng-class="{ 'has-error': cpc.validateInput(cpc.changePasswordForm.OldPassword, 'required') }">
                            <label class="requiredLabel">Current Password</label>
                            <input id="exampleInputPassword1"
                                   autocomplete="new-password"
                                   type="password"
                                   name="OldPassword"
                                   placeholder="Password"
                                   ng-model="cpc.UserPassword.OldPassword"
                                   required=""
                                   uib-tooltip="{{cpc.changePasswordForm.OldPassword.$dirty && cpc.changePasswordForm.OldPassword.$error.required? 'Please enter old password': ''}}"
                                   tooltip-class="tooltip-danger"
                                   tooltip-placement="top"
                                   class="form-control" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                            <!--<span ng-show="changePassword.changePasswordForm.OldPassword.$dirty &amp;&amp; changePassword.changePasswordForm.OldPassword.$error.required" class="text-danger">This field is required</span>-->
                        </div>

                        <div class="form-group has-feedback" ng-class="{ 'has-error': cpc.validateInput(cpc.changePasswordForm.NewPassword, 'required') }">
                            <label class="requiredLabel">New Password</label>
                            <input id="exampleInputPassword1"
                                   autocomplete="new-password"
                                   type="password"
                                   name="NewPassword"
                                   placeholder="Password"
                                   ng-model="cpc.UserPassword.NewPassword"
                                   required=""
                                   uib-tooltip="{{cpc.changePasswordForm.NewPassword.$dirty && cpc.changePasswordForm.NewPassword.$error.required? 'Please enter new password':''}}"
                                   tooltip-class="tooltip-danger"
                                   tooltip-placement="top"
                                   class="form-control" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                            <!--<span ng-show="changePassword.changePasswordForm.NewPassword.$dirty &amp;&amp; changePassword.changePasswordForm.NewPassword.$error.required" class="text-danger">This field is required</span>-->
                        </div>

                        <div class="form-group has-feedback" ng-class="{ 'has-error': cpc.validateInput(cpc.changePasswordForm.ConfirmPassword, 'required') }">
                            <label class="requiredLabel">Confirm Password</label>
                            <input id="exampleInputPassword1"
                                   autocomplete="new-password"
                                   type="password"
                                   name="ConfirmPassword"
                                   placeholder="Password"
                                   ng-model="cpc.UserPassword.ConfirmPassword"
                                   required=""
                                   class="form-control"
                                   uib-tooltip="{{cpc.changePasswordForm.ConfirmPassword.$dirty && cpc.changePasswordForm.ConfirmPassword.$error.required? 'Please confirm password': cpc.changePasswordForm.ConfirmPassword.$dirty && cpc.changePasswordForm.ConfirmPassword.$error.validator? 'Password don\'t match':''}}"
                                   tooltip-class="tooltip-danger"
                                   tooltip-placement="top"
                                   ui-validate="'$value==cpc.UserPassword.NewPassword'"
                                   ui-validate-watch="'password'" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                            <!--<span ng-show="changePassword.changePasswordForm.ConfirmPassword.$dirty &amp;&amp; changePassword.changePasswordForm.ConfirmPassword.$error.required" class="text-danger">This field is required</span>-->
                            <!--<span ng-show="changePassword.changePasswordForm.ConfirmPassword.$dirty &amp;&amp; changePassword.changePasswordForm.ConfirmPassword.$error.validator" class="text-danger">Password does Not match</span>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
