<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button class="btn btn-info btn-labeled" type="submit" form="resetPassword" ng-disabled="!changePassword.changePasswordForm.$dirty">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span>Update
        </button>
    </div>
    <!-- END Language list    -->
    Change Password
    <!--<small>Add/Edit</small>-->
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal form-validate" name="changePassword.changePasswordForm" novalidate="" ng-submit="changePassword.resetPassword()" id="resetPassword">
                    <div class="col-md-12">
                        <div class="form-group has-feedback" ng-class="{ 'has-error': changePassword.validateInput(changePassword.changePasswordForm.OldPassword, 'required') }">
                            <label class="requiredLabel">Old Password</label>
                            <input id="exampleInputPassword1"
                                   autocomplete="new-password"
                                   type="password"
                                   name="OldPassword"
                                   placeholder="Password"
                                   ng-model="OldPassword"
                                   required=""
                                   uib-tooltip="{{changePassword.changePasswordForm.OldPassword.$dirty && changePassword.changePasswordForm.OldPassword.$error.required? 'Please enter old password': ''}}"
                                   tooltip-class="tooltip-danger"
                                   tooltip-placement="top"
                                   class="form-control" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                            <!--<span ng-show="changePassword.changePasswordForm.OldPassword.$dirty &amp;&amp; changePassword.changePasswordForm.OldPassword.$error.required" class="text-danger">This field is required</span>-->
                        </div>
                        
                        <div class="form-group has-feedback" ng-class="{ 'has-error': changePassword.validateInput(changePassword.changePasswordForm.NewPassword, 'required') }">
                            <label class="requiredLabel">New Password</label>
                            <input id="exampleInputPassword1"
                                   autocomplete="new-password"
                                   type="password"
                                   name="NewPassword"
                                   placeholder="Password"
                                   ng-model="NewPassword"
                                   required=""
                                   uib-tooltip="{{changePassword.changePasswordForm.NewPassword.$dirty && changePassword.changePasswordForm.NewPassword.$error.required? 'Please enter new password':''}}"
                                   tooltip-class="tooltip-danger"
                                   tooltip-placement="top"
                                   class="form-control" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                            <!--<span ng-show="changePassword.changePasswordForm.NewPassword.$dirty &amp;&amp; changePassword.changePasswordForm.NewPassword.$error.required" class="text-danger">This field is required</span>-->
                        </div>
                        
                        <div class="form-group has-feedback" ng-class="{ 'has-error': changePassword.validateInput(changePassword.changePasswordForm.ConfirmPassword, 'required') }">
                            <label class="requiredLabel">Confirm Password</label>
                            <input id="exampleInputPassword1"
                                   autocomplete="new-password"
                                   type="password"
                                   name="ConfirmPassword"
                                   placeholder="Password"
                                   ng-model="ConfirmPassword"
                                   required=""
                                   class="form-control"
                                   uib-tooltip="{{changePassword.changePasswordForm.ConfirmPassword.$dirty && changePassword.changePasswordForm.ConfirmPassword.$error.required? 'Please confirm password': changePassword.changePasswordForm.ConfirmPassword.$dirty && changePassword.changePasswordForm.ConfirmPassword.$error.validator? 'Password don\'t match':''}}"
                                   tooltip-class="tooltip-danger"
                                   tooltip-placement="top"
                                   ui-validate="'$value==NewPassword'" 
                                   ui-validate-watch="'password'" />
                            <span class="fa fa-lock form-control-feedback text-muted"></span>
                            <!--<span ng-show="changePassword.changePasswordForm.ConfirmPassword.$dirty &amp;&amp; changePassword.changePasswordForm.ConfirmPassword.$error.required" class="text-danger">This field is required</span>-->
                            <!--<span ng-show="changePassword.changePasswordForm.ConfirmPassword.$dirty &amp;&amp; changePassword.changePasswordForm.ConfirmPassword.$error.validator" class="text-danger">Password does Not match</span>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

