
<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button ng-click="upc.save(false)" ng-disabled="!upc.formValidate.$valid" type="button" class="btn btn-labeled btn-success" ng-if="upc.edit">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span><span class="hidden-480" ng-if="!upc.update">Save</span>
            <span class="hidden-480" ng-if="upc.update">Update</span>
        </button>
        <button class="btn btn-labeled bg-info-light" ng-if="upc.update" ng-click="upc.edit = !upc.edit" ng-hide="upc.edit">
            <span class="btn-label">
                <i class="fa fa-pencil"></i>
            </span><span class="hidden-480">Edit</span>
        </button>
        <button ng-click="upc.save(true)" ng-disabled="!upc.formValidate.$valid" ng-if="!upc.update" type="button" class="btn btn-labeled btn-info">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">Save and New</span>
        </button>
        <button class="btn btn-labeled btn-danger" ng-click="upc.cancelBtn()">
            <span class="btn-label">
                <i class="fa fa-times"></i>
            </span><span class="hidden-480">Cancel</span>
        </button>
    </div>
    <!-- END Language list    -->
    User
    <small>Add/Edit</small>
</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-validate" name="upc.formValidate" novalidate="" id="saveUser">

            <div class="form-group">
                <fieldset ng-disabled="!upc.edit">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': upc.validateInput(upc.formValidate.FirstName, 'required') }">
                                <label for="FirstName" class="control-label requiredLabel">First Name</label>
                                <input id="FirstName" type="text" placeholder="Enter First Name Here"
                                       ng-model="upc.user.FirstName" name="FirstName"
                                       uib-tooltip="{{ upc.validateInput(upc.formValidate.FirstName, 'required') ? 'First Name is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required class="form-control"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': upc.validateInput(upc.formValidate.LastName, 'required') }">
                                <label for="LastName" class="control-label requiredLabel">Last Name</label>
                                <input id="LastName" type="text" placeholder="Enter Last Name Here"
                                       ng-model="upc.user.LastName" name="LastName"
                                       uib-tooltip="{{ upc.validateInput(upc.formValidate.LastName, 'required') ? 'Last Name is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required class="form-control"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': upc.validateInput(upc.formValidate.Email, 'required') }">
                                <label for="Email" class="control-label requiredLabel">Email</label>
                                <input id="Email" type="email" placeholder="Enter Email Here"
                                       ng-model="upc.user.Email" name="Email"
                                       uib-tooltip="{{ upc.validateInput(upc.formValidate.Email, 'required') ? 'Email is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required class="form-control"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': upc.validateInput(upc.formValidate.Username, 'required') }">
                                <label for="Username" class="control-label requiredLabel">Username</label>
                                <input id="Username" type="text" placeholder="Enter Username Here"
                                       ng-model="upc.user.Username" name="Username"
                                       uib-tooltip="{{ upc.validateInput(upc.formValidate.Username, 'required') ? 'Username is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required=""
                                       class="form-control"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <label for="Address" class="control-label">Address</label>
                                <input id="Address" type="text" placeholder="Enter Address Here"
                                       ng-model="upc.user.Address" name="Address"
                                       class="form-control">
                                <span class="fa fa-location-arrow form-control-feedback width70 text-muted"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <label for="Phone" class="control-label">Phone</label>
                                <input id="Phone" type="text" placeholder="Enter Phone Here"
                                       ng-model="upc.user.Telephone" name="Phone"
                                       class="form-control"
                                       maxlength="50">
                                <span class="fa fa-phone form-control-feedback width70 text-muted"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': upc.validateInput(upc.formValidate.Password, 'required') }">
                                <label for="UserPassword" class="control-label requiredLabel">Password</label>
                                <input id="UserPassword" type="password" placeholder="Enter Password Here"
                                       ng-model="upc.user.Password" name="UserPassword"
                                       uib-tooltip="{{ upc.validateInput(upc.formValidate.Password, 'required') ? 'Password is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required=""
                                       class="form-control"
                                       maxlength="50">
                                <span class="fa fa-lock form-control-feedback width70 text-muted"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12 form-group has-feedback" ng-class="{ 'has-error': upc.validateInput(upc.formValidate.ConfirmPassword, 'required') || !upc.matchPassword }">
                                <label for="ConfirmUserPassword" class="control-label requiredLabel">Confrim Password</label>
                                <input id="ConfirmUserPassword" type="password" placeholder="Enter Confirm Password Here"
                                       ng-model="upc.user.ConfirmPassword" name="ConfirmUserPassword"
                                       uib-tooltip="{{ upc.matchPassword ? '': 'Password don\'t match!'}}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required=""
                                       class="form-control"
                                       maxlength="50">
                                <span class="fa fa-lock form-control-feedback width70 text-muted"></span>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </form>
    </div>
</div>