<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a ui-sref="account.login">
                <img src="/app/img/gocentralized-logo.png" alt="Image" height="80" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
         <p class="text-center pv">FORGOT PASSWORD</p>
            <form role="form" name="fpc.recoverForm" novalidate="" class="form-validate" ng-submit="fpc.recoverPassword()">
                <p class="text-center">Enter your e-mail address to receive the link, to reset your password.</p>
                <br/>
                <div class="form-group has-feedback" ng-class="{'has-error': (fpc.recoverForm.email.$dirty && fpc.recoverForm.email.$error.required) || (fpc.recoverForm.email.$dirty && fpc.recoverForm.email.$error.email)}">
                    <!--<label class="text-muted">Email address</label>-->
                    <input type="email"
                           name="email"
                           placeholder="Email Address"
                           autocomplete="off"
                           ng-model="fpc.Email"
                           required=""
                           uib-tooltip="{{fpc.recoverForm.email.$dirty && fpc.recoverForm.email.$error.required? 'Please enter email address': fpc.recoverForm.email.$dirty && fpc.recoverForm.email.$error.email? 'Please enter a valid email address': ''}}"
                           tooltip-class="tooltip-danger"
                           tooltip-placement="left"
                           class="form-control"/>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    <!--<span ng-show="fpc.recoverForm.email.$dirty &amp;&amp; fpc.recoverForm.email.$error.required" class="text-danger">This field is required</span>-->
                    <!--<span ng-show="fpc.recoverForm.email.$dirty &amp;&amp; fpc.recoverForm.email.$error.email" class="text-danger">This field must be a valid email address</span>-->
                </div>
                <button type="submit" class="btn btn-green btn-block" ng-disabled="(fpc.recoverForm.email.$dirty && fpc.recoverForm.email.$error.required) || (fpc.recoverForm.email.$dirty && fpc.recoverForm.email.$error.email)">Reset</button>
            </form>
            <br />
            <div ng-show="fpc.authMsg" class="text-left col-md-12">
                <div class="alert row" ng-class="{'alert-danger' : fpc.hasError, 'alert-success' : !fpc.hasError}">
                    <div class="col-md-2">
                        <i class="fa fa-1x"
                           ng-class="{'fa-exclamation-triangle' : fpc.hasError, 'fa-check-square' : !fpc.hasError, 'margin-top15': !fpc.hasError}">
                        </i>
                    </div>
                    <div class="col-md-10" ng-bind-html="fpc.authMsg"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br />
        <span ng-bind="app.description"></span>
    </div>
</div>