<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a ui-sref="account.login">
                <img src="/app/img/preloader/preloader.empty.png" height="80" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">PASSWORD RESET</p>
            <form role="form" name="resetPassword.resetPasswordForm" novalidate="" class="form-validate" ng-submit="resetPassword.resetPassword()">
                <!--<p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>-->
                <div class="form-group has-feedback">
                    <label class="text-muted">Email address</label>
                    <input type="email" name="email" placeholder="Enter email" ng-model="resetPassword.email" required="" class="form-control" ng-disabled="true"/>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    <span ng-show="resetPassword.resetPasswordForm.email.$dirty &amp;&amp; resetPassword.resetPasswordForm.email.$error.required" class="text-danger">This field is required</span>
                    <span ng-show="resetPassword.resetPasswordForm.email.$dirty &amp;&amp; resetPassword.resetPasswordForm.email.$error.email" class="text-danger">This field must be a valid email address</span>
                </div>
                <div class="form-group has-feedback">
                    <label class="text-muted">New Password</label>
                    <input id="id-password" type="password" placeholder="Password" name="account_password" ng-model="resetPassword.password" required="" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="resetPassword.resetPasswordForm.account_password.$dirty &amp;&amp; resetPassword.resetPasswordForm.account_password.$error.required" class="text-danger">This field is required</span>
                    <!--ng-pattern="/^[a-zA-Z0-9]{6,10}$/"-->
                    <!--<span ng-show="resetPassword.resetPasswordForm.account_password.$dirty &amp;&amp; resetPassword.resetPasswordForm.account_password.$error.pattern" class="text-danger">Input should match 'a-zA-Z0-9' and 6-10 length</span>-->
                </div>
                <div class="form-group has-feedback">
                    <label class="text-muted">Retype New Password</label>
                    <input type="password" name="account_password_confirm" placeholder="Confirm Password" ng-model="resetPassword.account_password_confirm" ui-validate="'$value==resetPassword.password'" ui-validate-watch="'password'" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span ng-show="resetPassword.resetPasswordForm.account_password_confirm.$dirty &amp;&amp; resetPassword.resetPasswordForm.account_password_confirm.$error.required" class="text-danger">This field is required</span>
                    <span ng-show="resetPassword.resetPasswordForm.account_password_confirm.$dirty &amp;&amp; resetPassword.resetPasswordForm.account_password_confirm.$error.validator" class="text-danger">Password does Not match</span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </form>
            
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br />
        <span ng-bind="app.description"></span>
    </div>
</div>