<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button ng-click="clc.save(false)" ng-disabled="!clc.formValidate.$valid" type="button" class="btn btn-labeled btn-success" ng-if="clc.edit">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span><span class="hidden-480" ng-if="!clc.update">Save</span>
            <span class="hidden-480" ng-if="clc.update">Update</span>
        </button>
        <button class="btn btn-labeled bg-info-light" ng-if="clc.update" ng-click="clc.edit = !clc.edit" ng-hide="clc.edit">
            <span class="btn-label">
                <i class="fa fa-pencil"></i>
            </span><span class="hidden-480">Edit</span>
        </button>
        <button ng-click="clc.save(true)" ng-disabled="!clc.formValidate.$valid" ng-if="!clc.update" type="button" class="btn btn-labeled btn-info">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">Save and New</span>
        </button>
        <button class="btn btn-labeled btn-danger" ng-click="clc.cancelBtn()">
            <span class="btn-label">
                <i class="fa fa-times"></i>
            </span><span class="hidden-480">Cancel</span>
        </button>
    </div>
    <!-- END Language list    -->
    Ingredient Category
    <small>Add/Edit</small>
</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal form-validate" name="clc.formValidate" novalidate="">
            <div class="form-group">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': clc.validateInput(clc.formValidate.Title, 'required') }">
                                <label for="Title" class="control-label requiredLabel">Name</label>
                                <input id="Title" type="text" placeholder="Enter Name Here"
                                       ng-model="clc.Allergy.Title" name="Title"
                                       uib-tooltip="{{ clc.validateInput(clc.formValidate.Title, 'required') ? 'Title field is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       tooltip-class="tooltip-danger"
                                       required class="form-control"
                                       ng-disabled="!clc.edit"
                                       maxlength="50">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12">
                                <label for="Description" class="control-label">Description</label>
                                <textarea id="Description" placeholder="Enter Description Here"
                                          ng-model="clc.Allergy.Description" name="Description"
                                          class="form-control"
                                          ng-disabled="!clc.edit"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12 checkbox c-checkbox needsclick">
                                <label for="IsImportant" class="control-label needsclick">
                                    
                                    <input id="IsImportant" type="checkbox"
                                           ng-model="clc.Allergy.IsImportant" name="IsImportant"
                                           class="needsclick checkbox checkbox-inline"
                                           ng-disabled="!clc.edit"><span class="fa fa-star"></span>Is Important?
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>