<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a ui-sref="app.CreateFilter" class="btn btn-green btn-labeled">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">New</span>
        </a>
        <button class="btn btn-info btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-hide="!isFilterOpen">
            <span class="btn-label">
                <i class="fa fa-search"></i>
            </span>
            <span class="hidden-480">Search</span>
        </button>
    </div>
    <!-- END Language list    -->
    Filters
    <small>Detail</small>
</h3>

<div class="container-fluid" ng-hide="isFilterOpen">
    <div class="panel panel-default">
        <form class="panel-body" ng-submit="fc.filterData(false)">
            <div class="col-md-6 col-xs-7 col-sm-7">
                <input type="text"
                       placeholder="Name"
                       ng-change="fc.filterData(false)"
                       class="form-control"
                       ng-model="fc.Name" />
            </div>
            <button class="btn btn-info" title="Search" type="submit"><span class="fa fa-search"></span></button>
            <button class="btn btn-default" title="Reset" ng-click="fc.filterData(true)"><span class="fa fa-remove"></span></button>
            <a class="pull-right"
               uib-tooltip="{{'Hide filter'}}"
               uib-tooltip-trigger="focus"
               ng-click="isFilterOpen = !isFilterOpen">
                <i class="fa fa-compress"></i>
            </a>
        </form>
    </div>
</div>

<div>
    <!-- Grid view to show listview with searching, sorting and pagination-->
    <!--<div ui-grid="fc.gridOptions" ui-grid-pagination class="table-uigrid"></div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <table datatable="ng"
                   dt-options="fc.dtOptions"
                   ng-if="fc.IsDataLoaded"
                   dt-columns="fc.dtColumns"
                   dt-instanse="fc.dtInstance"
                   class="row-border hover" id="dataTable">
                <thead>
                    <tr>
                        <!--<th>Id</th>-->
                        <th>Name</th>
                        <th>Filter Category</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="filter in fc.Filters">

                        <td>{{filter.DisplayValue}}</td>
                        <td>{{filter.FilterCategoryName}}</td>
                        <td class="text-right">
                            <div>
                                <a ui-sref="app.CreateFilter({Id : filter.Id})"
                                   class="btn btn-xs btn-green"
                                   uib-tooltip="{{'View'}}"
                                   uib-tooltip-trigger="focus">
                                    <i class="fa fa-search"></i>
                                </a>
                                &nbsp;
                                <!--<button ng-click="fc.delete(filter)"
                                        class="btn btn-xs btn-danger"
                                        uib-tooltip="{{'Remove'}}"
                                        uib-tooltip-trigger="focus"
                                        tooltip-class="tooltip-danger">
                                    <i class="fa fa-trash"></i>
                                </button>-->

                                <div uib-dropdown="dropdown" class="btn-group">
                                    <a ng-click="fc.delete(false,filter)" uib-tooltip="{{'Remove'}}" tooltip-class="tooltip-danger" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
                                    <button type="button" class="btn btn-danger btn-xs dropdown-toggle" uib-dropdown-toggle="">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul role="menu" class="dropdown-menu animated flipInX left-63 min-width111">
                                        <li><a ng-click="fc.delete(true, filter)"><i class="icon-trash"></i>&nbsp;&nbsp;Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
