<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=MealPlanner.V2;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=MealPlanner.V2;integrated security=True;user id=&quot;sa, password=p@ssw0rd&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
  
  <!--Local DB as Backup of live-->
  <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=IST_Angular;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=IST_Angular;integrated security=True;user id=&quot;sa, password=p@ssw0rd&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  
  <!--Live DB SMARTER ASP.Net-->
  <!--<add name="DefaultConnection" connectionString="Data Source=tcp:SQL5024.SmarterASP.NET,1433;Initial Catalog=DB_9FB5C3_aversion;Integrated Security=True; user id=DB_9FB5C3_aversion_admin, password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:SQL5024.SmarterASP.NET,1433;initial catalog=DB_9FB5C3_aversion;user id=DB_9FB5C3_aversion_admin;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <!--Live DB azurewebsites.net-->  
  <!--<add name="DefaultConnection" connectionString="Data Source=tcp:aversion.database.windows.net,1433;Initial Catalog=aversion;Integrated Security=True; user id=innostark, password=p@ssw0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:aversion.database.windows.net,1433;initial catalog=aversion;user id=innostark;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
</connectionStrings>