
/* Add here all your css styles (customizations) */

.padding-right2 {
    padding-right: 2px !important;
}

.padding-right3 {
    padding-right: 3px !important;
}

.padding-leftright20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padding-leftright30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.border-radius100 {
    border-radius: 100px !important;
}

.margin-bottom110 {
    margin-bottom: 110px;
}

.padding-left16 {
    padding-left: 16px;
}
/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
    transition: all 1.5s linear;
    opacity: 0;
}

    /*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
    .repeated-item.ng-enter.ng-enter-active,
    .repeated-item.ng-move.ng-move-active {
        opacity: 1;
    }

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
    animation: 1.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.margin-top4 {
    margin-top: 4px;
}

.input-group .dropdown-menu {
    max-height: 270px;
    overflow-y: auto;
    width: 100%;
}

.font-size24 {
    font-size: 24px;
}

.padding-left24 {
    padding-left: 24px;
}

.projectDivHeight {
    min-height: 50px;
    line-height: 40px;
    height: 50px;
}

.c-checkbox input[type=checkbox]:checked + span, .c-radio input[type=checkbox]:checked + span, .c-checkbox input[type=radio]:checked + span, .c-radio input[type=radio]:checked + span {
    border-color: #18ba9b;
    background-color: #18ba9b;
}

.product-ratings div label.custom-rating-label {
    width: 15px;
    font-size: 14px;
    margin: 0;
}
.padding-top35 {
    padding-top: 35px;
}
.padding-bottom30 {
    padding-bottom: 30px;
}
.margin-left3 {
    margin-left: 3px;
}
.position-fixed {
    position: fixed;
}