USE [IST_Angular]
GO
/****** Object:  Table [dbo].[Allergy]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergy](
	[AllergyId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Allergy_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Allergy_IsDeleted]  DEFAULT ((0)),
	[RecCreatedById] [nvarchar](128) NOT NULL,
	[RecCreatedBy] [nvarchar](250) NOT NULL,
	[RecCreatedOn] [datetime] NOT NULL,
	[RecLastUpdatedById] [nvarchar](128) NOT NULL,
	[RecLastUpdatedBy] [nvarchar](250) NOT NULL,
	[RecLastUpdatedOn] [datetime] NOT NULL,
	[IsImportant] [bit] NOT NULL CONSTRAINT [DF__Allergy__IsImpor__1A14E395]  DEFAULT ((0)),
 CONSTRAINT [PK_Allergy] PRIMARY KEY CLUSTERED 
(
	[AllergyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ImageName] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[Qualification] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuKey] [int] NOT NULL,
	[MenuTitle] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[MenuTargetController] [nvarchar](max) NULL,
	[MenuImagePath] [nvarchar](max) NULL,
	[MenuFunction] [nvarchar](max) NULL,
	[PermissionKey] [nvarchar](max) NULL,
	[IsRootItem] [bit] NOT NULL,
	[ParentItem_MenuId] [int] NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuRight]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRight](
	[MenuRightId] [int] IDENTITY(1,1) NOT NULL,
	[Menu_MenuId] [int] NULL,
	[Role_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.MenuRight] PRIMARY KEY CLUSTERED 
(
	[MenuRightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 29/12/2016 5:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Image] [nvarchar](max) NULL,
	[GuardianFirstName] [nvarchar](50) NOT NULL,
	[GuardianLastName] [nvarchar](50) NOT NULL,
	[GuardianPhone] [nvarchar](50) NOT NULL,
	[GuardianEmail] [nvarchar](50) NULL,
	[HilalOnly] [bit] NOT NULL CONSTRAINT [DF_Student_HilalOnly]  DEFAULT ((0)),
	[RecCreatedById] [nvarchar](128) NOT NULL,
	[RecCreatedBy] [nvarchar](250) NOT NULL,
	[RecCreatedOn] [datetime] NOT NULL,
	[RecLastUpdatedById] [nvarchar](128) NOT NULL,
	[RecLastUpdatedBy] [nvarchar](250) NOT NULL,
	[RecLastUpdatedOn] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Student_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Student_IsDeleted]  DEFAULT ((0)),
	[AddonsDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Allergy] ON 

INSERT [dbo].[Allergy] ([AllergyId], [Title], [Description], [IsActive], [IsDeleted], [RecCreatedById], [RecCreatedBy], [RecCreatedOn], [RecLastUpdatedById], [RecLastUpdatedBy], [RecLastUpdatedOn], [IsImportant]) VALUES (17, N'Fish', NULL, 1, 0, N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'amanda@email.com', CAST(N'2016-08-10 13:28:20.040' AS DateTime), N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'amanda@email.com', CAST(N'2016-08-18 15:44:09.330' AS DateTime), 0)
INSERT [dbo].[Allergy] ([AllergyId], [Title], [Description], [IsActive], [IsDeleted], [RecCreatedById], [RecCreatedBy], [RecCreatedOn], [RecLastUpdatedById], [RecLastUpdatedBy], [RecLastUpdatedOn], [IsImportant]) VALUES (18, N'Chicken', NULL, 1, 0, N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'amanda@email.com', CAST(N'2016-08-18 16:49:30.527' AS DateTime), N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'amanda@email.com', CAST(N'2016-08-18 16:49:30.527' AS DateTime), 0)
INSERT [dbo].[Allergy] ([AllergyId], [Title], [Description], [IsActive], [IsDeleted], [RecCreatedById], [RecCreatedBy], [RecCreatedOn], [RecLastUpdatedById], [RecLastUpdatedBy], [RecLastUpdatedOn], [IsImportant]) VALUES (19, N'Dairy', NULL, 1, 0, N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'amanda@email.com', CAST(N'2016-08-23 07:47:05.117' AS DateTime), N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'amanda@email.com', CAST(N'2016-09-23 09:57:53.630' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Allergy] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Client')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'SystemAdministrator')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'070d4d12-4f03-426d-be2d-436384da7adf', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'34715106-240c-4e17-b015-1a4416700379', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Telephone], [Address], [ImageName], [DateOfBirth], [Qualification], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'18be8406-139b-4b4b-a07c-2955b25c83bb', N'Amanda', N'g', NULL, NULL, NULL, NULL, NULL, N'amanda@email.com', 1, N'APuV2FAHDGQHs+XowPbF4uJjMfQl++Q+z/5UnvMusduA7mMd2nUfCIqlKH4lmXzNlw==', N'da71af30-26b2-4bf7-85c8-5904cea438de', NULL, 0, 0, NULL, 1, 0, N'amanda@email.com')
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [LastName], [Telephone], [Address], [ImageName], [DateOfBirth], [Qualification], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'34715106-240c-4e17-b015-1a4416700379', N'st', N'Chef', NULL, NULL, NULL, NULL, NULL, N'st_chef@email.com', 1, N'ALi1bkqgLnonHS0tqblKEMw0/kPs47YZuB0x5/wlk+X+82UJhwrtVP5tkBlKyCsitQ==', N'f399c95d-f52a-4910-a5ee-0916e330c21b', NULL, 0, 0, NULL, 1, 0, N'st_chef@email.com')
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MenuId], [MenuKey], [MenuTitle], [SortOrder], [MenuTargetController], [MenuImagePath], [MenuFunction], [PermissionKey], [IsRootItem], [ParentItem_MenuId]) VALUES (71, 1, N'Main', 1, N'#', NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Menu] ([MenuId], [MenuKey], [MenuTitle], [SortOrder], [MenuTargetController], [MenuImagePath], [MenuFunction], [PermissionKey], [IsRootItem], [ParentItem_MenuId]) VALUES (75, 2, N'Dashboard', 1, N'app.dashboard', N'icon-speedometer', NULL, NULL, 0, 71)
INSERT [dbo].[Menu] ([MenuId], [MenuKey], [MenuTitle], [SortOrder], [MenuTargetController], [MenuImagePath], [MenuFunction], [PermissionKey], [IsRootItem], [ParentItem_MenuId]) VALUES (76, 4, N'System', 4, N'#', NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuRight] ON 

INSERT [dbo].[MenuRight] ([MenuRightId], [Menu_MenuId], [Role_Id]) VALUES (6, 71, N'2')
INSERT [dbo].[MenuRight] ([MenuRightId], [Menu_MenuId], [Role_Id]) VALUES (7, 75, N'2')
INSERT [dbo].[MenuRight] ([MenuRightId], [Menu_MenuId], [Role_Id]) VALUES (8, 71, N'1')
SET IDENTITY_INSERT [dbo].[MenuRight] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

SET IDENTITY_INSERT [dbo].[Student] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentItem_MenuId] FOREIGN KEY([ParentItem_MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentItem_MenuId]
GO
ALTER TABLE [dbo].[MenuRight]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuRight_dbo.AspNetRoles_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[MenuRight] CHECK CONSTRAINT [FK_dbo.MenuRight_dbo.AspNetRoles_Role_Id]
GO
ALTER TABLE [dbo].[MenuRight]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuRight_dbo.Menu_Menu_MenuId] FOREIGN KEY([Menu_MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[MenuRight] CHECK CONSTRAINT [FK_dbo.MenuRight_dbo.Menu_Menu_MenuId]
GO
