<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-show="!isFilterOpen">
            <span class="btn-label">
                <i class="fa fa-filter"></i>
            </span><span class="hidden-480">Filter</span>
        </button>
    </div>
    <!-- END Language list    -->
    Rights Management
</h3>
<div class="container-fluid" ng-show="isFilterOpen">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3 col-xs-7">
                <ui-select ng-model="role.selected" theme="bootstrap">
                    <ui-select-match placeholder="Select Role...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="role in rightsManagement.roles | propsFilter: {Name: $select.search}">
                        <div ng-bind-html="role.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <button class="btn btn-success" ng-disabled="!rightsManagement.rightsForm.$dirty" ng-click="rightsManagement.update()">Save</button>

            <a class="pull-right" title="Hide filter Section" ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>
        </div>

    </div>
</div>

<div class="container-fluid">
    <form class="form-horizontal form-validate" name="rightsManagement.rightsForm" novalidate="">
        <div class="form-group">
            <table class="table table-condensed">
                <tbody>
                    <tr class="col-sm-12" ng-repeat-start="item in rightsManagement.rights | filter: { IsParent: true }">
                        <td colspan="10">
                            <label style="padding-right: 10px; font-weight: 700">{{ item.MenuTitle }}</label>
                            <input class="parentCheckbox" type="checkbox" ng-model="item.IsSelected" ng-change="rightsManagement.onChange(item)" />
                        </td>
                    </tr>
                    <tr class="col-sm-12" ng-repeat-end>
                        <td class="col-sm-2"></td>
                        <td class="col-sm-2" ng-repeat="childItem in rightsManagement.rights | filter: { ParentId: item.MenuId }">
                            <input type="checkbox" ng-model="childItem.IsSelected" ng-change="rightsManagement.onChange(childItem)" />
                            <label style="padding-right: 10px;">{{ childItem.MenuTitle }}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
