<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button class="btn btn-info btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-show="!isFilterOpen">
            <span class="btn-label">
                <i class="icon-user-following"></i>
            </span><span class="hidden-480">Roles</span>
        </button>
    </div>
    <!-- END Language list -->
    Rights Management
</h3>

<div class="container-fluid" ng-show="isFilterOpen">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3 col-xs-7">
                <ui-select ng-model="role.selected" theme="bootstrap">
                    <ui-select-match placeholder="Select a Role">
                        {{$select.selected.Name}}
                    </ui-select-match>
                    <ui-select-choices repeat="role in rmc.roles | propsFilter: {Name: $select.search}" class="animated flipInX">
                        <div ng-bind-html="role.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <button class="btn btn-info" ng-disabled="!rmc.rightsForm.$dirty" ng-click="rmc.update()">Save</button>
            <a class="pull-right" ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form class="form-horizontal form-validate" name="rmc.rightsForm" novalidate="">
        <div class="form-group">
            <table class="table table-condensed">
                <tbody>
                    <tr class="col-sm-12" ng-repeat-start="item in rmc.rights | filter: { IsParent: true }">
                        <td colspan="10">
                            <!--<label style="padding-right: 10px; font-weight: 700">{{ item.MenuTitle }}</label>
                            <input class="parentCheckbox" type="checkbox" ng-model="item.IsSelected" ng-change="rmc.onChange(item)"/>-->

                            <div class="col-md-12 checkbox c-checkbox needsclick" style="width: auto">
                                <label class="control-label needsclick">
                                    <input type="checkbox"
                                           ng-model="item.IsSelected"
                                           class="needsclick checkbox checkbox-inline"
                                           ng-change="rmc.onChange(item)"><span class="fa fa-check"></span><strong>{{ item.MenuTitle }} :</strong>
                                </label>
                            </div>

                        </td>
                    </tr>
                    <tr class="col-sm-12" ng-repeat-end>
                        <td class="col-sm-1"></td>
                        <td class="col-sm-2" ng-repeat="childItem in rmc.rights | filter: { ParentId: item.MenuId }">
                            <!--<input type="checkbox" ng-model="childItem.IsSelected" ng-change="rmc.onChange(childItem)" />
                            <label style="padding-right: 10px;">{{ childItem.MenuTitle }}</label>-->

                            <div class="col-md-12 checkbox c-checkbox needsclick" style="width: auto">
                                <label class="control-label needsclick">
                                    <input type="checkbox"
                                           ng-model="childItem.IsSelected"
                                           class="needsclick checkbox checkbox-inline"
                                           ng-change="rmc.onChange(childItem)"><span class="fa fa-check"></span>{{ childItem.MenuTitle }}
                                </label>
                            </div>
                            
                        </td>
                    </tr>

                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                    </div>


                </tbody>
            </table>
        </div>
    </form>
</div>
