<div class="header-v5 header-static">
    <!-- Topbar v3 -->
    <div class="topbar-v3">
        <div class="search-open">
            <div class="container">
                <input type="text" class="form-control" placeholder="Search">
                <div class="search-close"><i class="icon-close"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Topbar Navigation -->
                    <ul class="left-topbar">
                        <li>
                            <a><img src="/Ecommerce/img/others/GoGreen-Logo.png" style="height: 20px" /></a>
                        </li>
                        <!--<li>
                            <a>Language (EN)</a>
                            <ul class="language">
                                <li class="active">
                                    <a href="#">English (EN)<i class="fa fa-check"></i></a>
                                </li>
                                <li><a href="#">Spanish (SPN)</a></li>
                                <li><a href="#">Russian (RUS)</a></li>
                                <li><a href="#">German (GRM)</a></li>
                            </ul>
                        </li>-->
                    </ul><!--/end left-topbar-->
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline right-topbar pull-right">
                        <li ng-if="!isAuthenticated"><a ng-click="hc.OpenLoginPage()">Log in</a> | <a href="shop-ui-register.html">Register</a></li>
                        <li ng-if="isAuthenticated"><small>Welcome {{userName}}!</small></li>
                        <li ng-if="isAuthenticated"><a ng-click="logout()">Sign out</a></li>
                        <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                        <li><a ng-click="$state.go('app.dashboard', null, { reload: true })"><span class="glyphicon glyphicon-align-justify"></span></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/container-->
    </div>
    <!-- End Topbar v3 -->
</div>